/* Table of Contents
1. Main
2. Left section ==> Buttons
3. Right section ==> Cards
4. Responsive Design ==> media query
*/
/* ===========================  1. Main ================================  */

main.flex {
  gap: 3rem;
  align-items: start;
}

/* ===========================  2. left section ==> Buttons ================================  */

main section.left-section {
  flex-direction: column;
  gap: 1rem;
}

main section.left-section button {
  width: 10rem;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(36, 37, 46, 0.8);
  opacity: 0.7;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s;
}
main section.left-section button:hover {
  opacity: 1;
}
main section.left-section button:first-child {
  opacity: 1;
  border: 1px solid var(--blue);
}
main section.left-section button:focus {
  opacity: 1;
  border: 1px solid var(--blue);
}

/* ===========================  3. Right section ==> Cards ================================  */

main section.right-section {
  /* flex-grow: .5; */
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

main section.right-section .card {
  max-width: 15rem;
  border: 1px solid rgba(84, 79, 55, 0.8);
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.031)); */
  border-radius: 20px;
  opacity: .6;
  transition: .5s;
}
main section.right-section .card:hover {
    border: 1px solid var(--blue);
    transform: scale(1.03) rotate(-.4deg);
    opacity: 1;

  }
main section.right-section .card img {
  width: 100%;
  border-radius: 20px;
}
main section.right-section .card .box {
  width: 100%;
  padding: 1rem 0.5rem;
}
main section.right-section .card .box .title {
  color: var(--title);
}
main section.right-section .card .box .sub-title {
  color: var(--subtitle);
  padding: 1rem 0;
}

main section.right-section .card li {
  cursor: pointer;
  color: var(--subtitle);
  margin-right: 1rem;
  transition: transform 0.2s, color 0.2s;
}
main section.right-section .card li:hover {
  color: var(--title);
  transform: scale(1.5);
}
main .card .box .icons li:last-child {
  margin-left: auto;
  margin-right: 0;
  color: var(--blue);
}
main .card .box .icons li:last-child a{
    align-self: end;
    margin-left: .3rem;
  }



  /* ===========================  4. Responsive Design ==> media query ================================  */
  @media (max-width:600px){
    main.flex{
      flex-direction: column;
    }
    main section.left-section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    main section.right-section .card{
      max-width: 100%;
    }
  }
  @media (max-width: 530px){
    main section.left-section button{
        width: auto;
        padding: .5rem .8rem ;
      }
  }
