/* table of contents
  1. Left article
  2. Right article ==> animation teil
*/



section.hero {
  margin: 3rem 0;
}
/* ===========================  1. Left article ================================  */

section.hero .left-article {
  flex-grow: 1;
}

section.hero .profile {
  width: 20%;
  border-radius: 10%;
  border: 1px solid orange;
  padding: 3px;
  box-shadow: 2px 2px 30px rgb(149, 112, 144) inset;
}

section.hero .title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1.5rem 0;
  color: var(--title);
}
section.hero .sub-title {
  color: var(--subtitle);
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
section.hero .icons {
  gap: 1rem;
  font-size: 1.4rem;
  color: var(--subtitle);

}
section.hero .icons div{
  cursor: pointer;
  transition: transform .2s, color 2s;
}
section.hero .icon:hover {
  color: var(--icon-hover);
    transform: scale(1.5);
  }

/* ===========================  2. Right article 
================================  */

section.hero .right-article {
  padding-top: 4rem;
}

@media screen and (max-width: 768px) {
  section.hero {
    flex-direction: column;
  }
  /* section.hero .right-article {
    display: none;
  } */
}
