/* Table of Content
 1. Main
 2. Form section
 3. Animation section 
 4. Responsive Design ==> media query
*/


/* ===========================  1. Main ================================  */

section.contact.flex{
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
section.contact .icon-envelope{
    color: rgb(103, 245, 209, 81%);
    padding: 0rem;
    font-size: 1.7rem;
}
section.contact p{
    font-size: 1.2rem;
    color: var(--subtitle);
}


/* ===========================  2. Form section  ================================  */

section.contact form.flex{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}
section.contact form.flex input, textarea{
    all: unset;
    /* color: black; */
    background-color: rgba(60, 54, 54, 0.446);
    border: 1px solid rgba(60, 54, 54, 0.446);
    width: 20rem;
    padding: .5rem;
    border-radius: 5px;
    transition: .4s;
    font-size: 1.2rem;
}

section.contact form.flex input:focus, textarea:focus{
    border: 1px solid rgba(103, 245, 210, 0.377);
}
section.contact form.flex input:hover, textarea:hover{
    border: 1px solid rgba(103, 245, 210, 0.377);
}


section.contact form.flex textarea {
    white-space: pre-wrap; /* Behandelt Leerzeichen wie im normalen Text, umbrechen erlaubt */
    overflow-wrap: break-word; /* Für moderne Browser, sorgt dafür, dass lange Wörter umgebrochen werden */
    min-height: 5rem;
    resize: vertical;
}

section.contact form.flex .submit{
    width: 10rem;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(36, 37, 46, 0.8);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s;
}

  /* ===========================  3. Animation section  ================================  */


  /* ===========================  4. Responsive Design ==> media query ================================  */

@media (max-width: 1000px){
    section.contact.flex .flex{
        flex-direction: column;
    }
    section.contact .flex {
        width: 100%;
    }
    section.contact form.flex input, textarea{
        width: 100%;
        padding: .5rem 0;
    }
   
}