div.flex-zertifikat{
  align-items: start;
  gap: 3rem;
}
section.zertifikat-flex{
  /* display: flex; */
  flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
  h1.left-section{
    font-size: 2.5rem;
    color: var(--blue);
    min-width: 14rem;
  }
.zertifikat-items {
    
    gap: 1rem;
    justify-content: center;
    
}
.zertifikat-item{
  max-width: 20rem;
    border: 1px solid rgba(84, 79, 55, 0.8);
    border-radius: 20px;
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}
.zertifikat-item canvas {
  height: 260px !important; 
  
  border: 1px solid rgba(84, 79, 55, 0.8); 
  border-radius: 20px 20px 0 0;

}
.zertifikat-title{
  color: var(--title);
  padding: 2rem 0.5rem;
}

/* ===========================  Responsive Design ==> media query ================================  */

@media (max-width:600px){
  div.flex-zertifikat{
    flex-direction: column;
    align-items: center;
  }
}