section.zertifikat-flex{
    gap: 3rem;
    align-items: start;
}
  h1.left-section{
    font-size: 2.5rem;
    color: var(--blue);
    min-width: 14rem;
  }
.zertifikat-items {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  
}
.zertifikat-items {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  width: 15rem;

}
.zertifikat-item{
    width: 20rem;
    border: 1px solid rgba(84, 79, 55, 0.8);
    border-radius: 20px;
    opacity: 0.6;
    transition: 0.5s;
    height: 20rem;
    
}



